td.bdb {
    background-color: #32cd32;
    color: #000000;
}

td.db {
    background-color: #90ee90;
    color: #000000;
}

td.um {
    background-color: #6495ed;
    color: #000000;
}

td.na {
    color: #aa9fc1;
}

td.dst {
    background-color: #faec20;
    color: #000000;
}

td.ni {
}

.datagrid {
    padding: 5px;
    border: 5px double green;
    border-radius: 10px;
    background-color: #faf0d2;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.datagrid caption {
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
}

.datagrid th {
    border-bottom: 2px dashed green;
    font-size: larger;
}

.datagrid td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.row-Type {
    width: 20%;
}

.row-Index {
    width: 50%;
}

.row-Avg {
    width: 30%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    width: 60%;
    height: 100%;
    margin: 20px auto;
    background: lavender;
}

.chooser {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    text-align: center;
    background-color: darkseagreen;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.heading {
    margin: 20px;
    background-color: bisque;
    text-align: center;
}

.data {
    margin: 20px;
}

#date {
    font-style: italic;
    text-align: right;
    font-size: medium;
}
